.postMessage
{
    position: fixed;
    width: 100%;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: var(--size-header-tertiary);
    width: 100%;
    background-color: var(--color-accent);
    left: 0;
    top: -100%;
    padding: 1rem;
    color: var(--color-bg);
    box-shadow: 0px 0px 40px 11px rgba(163,85,85,0.5);
    transition: all 1s;

}

.postMessage.animate
{
    top: 0;
}

.formProgressBar
{
    position: relative;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-lightgray);
    margin: 1rem 0 1.2rem 0;
}

.formProgressBar::after
{
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--color-accent);
    transition: all .5s;
    width: 0%;
}

.formProgressBar[progression="1"]::after
{
    width: calc( 1/var(--no-pages) * 100%);
}
.formProgressBar[progression="2"]::after
{
    width: calc( 2/var(--no-pages) * 100%);
}
.formProgressBar[progression="3"]::after
{
    width: calc( 3/var(--no-pages) * 100%);
}

.itemForm
{
    margin: auto;
    width: 100%;
    min-width: 300px;
    font-family: var(--font-primary);
}

.itemForm input
{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaa;
}

.itemForm input.invalid
{
    background-color: #ffdddd;
}

.formHeader h1
{
    font-family: var(--font-primary);
    font-size: var(--size-header-primary);
    color: var(--color-lightgray);
    line-height: .847;
}

.formHeader .formProgressText
{
    font-family: var(--font-secondary);
    font-size: var(--size-step);
}

.formHeader
{
    margin-bottom: 8vh;
}

.formTab
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.formTab .formTabHeader
{
    font-family: var(--font-primary);
    font-size: var(--size-header-secondary);
    padding: 3.8vh 0;
}

.formTab .formTabContentSection
{
    padding: 2vh 0;
}

.formTab .formContentHeader
{
    font-family: var(--font-secondary);
    font-size: var(--size-header-tertiary);
    font-weight: 400;

    padding: 2vh 0;
}

.formTab input, .formTab select
{
    width: 100%;
    padding: 1.2rem 1.4rem;

    font-family: var(--font-primary);
    font-size: var(--size-body-primary);
    font-weight: 400;
    
    background-color: var(--color-lightgray);
    color: var(--color-darkgray);

    border: none;
    border-radius: 4px;

    
    margin: 0;
}

.formTab select
{
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23323232' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-x: 95%;
    background-position-y: 45%;
}


.formTab input::placeholder
{
    color: var(--color-gray);
}

.formTab .formContentRow
{
    display: flex;
    width: 100%;
}

.formTab input[type="radio"]
{
    visibility: hidden;
    height: 0;
    width: 0;
    flex: 0;
}

.formTab .formContentRow:not(.formContentRadio)
{
    gap: .5rem;
}

.formTab .formContentRow:not(.formContentRadio) input,
.formTab .formContentRow.formContentRadio input[type="radio"]+label
{
    flex: 1;
}

.formTab .formContentRow input.flex0_5
{
    flex: 0.5;
}

.formTab input[type="radio"]+label 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-lightgray);
    color: var(--color-darkgray);
    padding: 1.2rem 1.4rem;
    border-radius: 4px;
}

.formTab input[type="radio"]+label:first-of-type{ margin-right: .25rem; }
.formTab input[type="radio"]+label:last-of-type { margin-left: .25rem; }

.formTab input[type="radio"]:checked + label
{
    background-color: var(--color-accent);
    color: var(--color-bg);
}



.localizationSection
{
    display: none;
}

.localizationSection >  p:first-of-type
{
    display: none;
}


.formNavigation
{
    width: 100%;
    display: flex;
    gap: .5rem;
    padding-top: 1rem;

}

.formNavigation .formNavigationButton
{
    flex: 1;
    font-family: var(--font-secondary);
    font-size: var(--size-btn-nav);
    font-weight: 400;

    background-color: unset;
    color: var(--color-accent);

    border: 1px solid var(--color-accent);
    border-radius: 4px;

    text-transform: uppercase;

    padding: 1.2rem 1.4rem;
    margin: 0;
}

.formNavigation .formNavigationButton.btnNext
{
    flex: 3;
    position: relative;
}
/*

.formNavigation .formNavigationButton.btnNext::before
{
    content: "";
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-accent);
    transition: all .5s;
    opacity: 0;
}

.formNavigation .formNavigationButton.btnNext.load::before
{
    opacity: 1;
}*/

.ldsring.load
{
    opacity: 1;
}

.ldsring {
    display: inline-block;
    position: absolute;
    width: .75rem;
    height: .75rem;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: calc(50% - 5ch);
    opacity: 0;
  }
  .ldsring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-accent);
    border-radius: 50%;
    animation: ldsring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--color-accent) transparent transparent transparent;
  }
  .ldsring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .ldsring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .ldsring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes ldsring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.formNavigation .formNavigationButton.btnNext.btnSubmit
{
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.localizationSection button
{
    background-color: var(--color-accent);
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20height%3D%2224%22%0A%20%20%20viewBox%3D%220%20-960%20960%20960%22%0A%20%20%20width%3D%2224%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22svg4%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs8%22%20%2F%3E%0A%20%20%3Cpath%0A%20%20%20%20%20d%3D%22M466-120v-52q-125-11-204-90t-90-204h-52v-28h52q11-125%2090-204t204-90v-52h28v52q125%2011%20204%2090t90%20204h52v28h-52q-11%20125-90%20204t-204%2090v52h-28Zm14-80q116%200%20198-82t82-198q0-116-82-198t-198-82q-116%200-198%2082t-82%20198q0%20116%2082%20198t198%2082Zm0-172q-44.55%200-76.275-31.725Q372-435.45%20372-480q0-44.55%2031.725-76.275Q435.45-588%20480-588q44.55%200%2076.275%2031.725Q588-524.55%20588-480q0%2044.55-31.725%2076.275Q524.55-372%20480-372Zm0-28q33%200%2056.5-23.5T560-480q0-33-23.5-56.5T480-560q-33%200-56.5%2023.5T400-480q0%2033%2023.5%2056.5T480-400Zm0-80Z%22%0A%20%20%20%20%20id%3D%22path2%22%0A%20%20%20%20%20style%3D%22fill%3A%23f9f8f6%3Bfill-opacity%3A1%22%20%2F%3E%0A%3C%2Fsvg%3E%0A');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    width: 14vw;
    height: 14vw;
    border-radius: 100%;
    border: none;
    font-size: 0;
}

.formTab input[type="number"]
{
    appearance: unset;
}

.formTab input[type="number"]::-webkit-inner-spin-button,
.formTab input[type="number"]::-webkit-outer-spin-button
{
    opacity: 1;
}

.formTab input[type="file"]
{
    display: none;
}

.formTab label.formTabContentSectionLabel
{

    position: relative;
    flex: 1;
    background-color: transparent;
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20height%3D%2248%22%0A%20%20%20viewBox%3D%220%20-960%20960%20960%22%0A%20%20%20width%3D%2248%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22svg4%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs8%22%20%2F%3E%0A%20%20%3Cpath%0A%20%20%20%20%20d%3D%22M200-160q-22.25%200-38.817-16.567-16.568-16.567-16.568-38.817v-529.232q0-22.25%2016.568-38.817Q177.75-800%20200-800h358.231v30.769H200q-10.769%200-17.692%206.923t-6.923%2017.692v529.232q0%2010.769%206.923%2017.692T200-190.769h529.231q10.769%200%2017.692-6.923t6.923-17.692v-357.231h30.77v357.231q0%2022.25-16.568%2038.817Q751.481-160%20729.231-160H200Zm504.615-478.769v-81h-80.23v-30.77h80.23v-80.23h30.77v80.23h80.231v30.77h-80.231v81h-30.77Zm-420%20337.538H650.77L540.616-447.846l-107.77%20135.461-71.692-86.308-76.539%2097.462Zm-109.23-468v578.462-578.462Z%22%0A%20%20%20%20%20id%3D%22path2%22%0A%20%20%20%20%20style%3D%22fill%3A%23bf6464%3Bfill-opacity%3A1%22%20%2F%3E%0A%3C%2Fsvg%3E%0A');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: center;
    border: none;
    padding: 12vh 0;
}

.formTab label.formTabContentSectionLabel::after
{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23BF6464FF' stroke-width='3' stroke-dasharray='5%2c 15' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
}

.formTabContentSection.formFileUpload
{
    display: flex;
    flex-direction: column;
}

.formTabContentSection.formTabSummary
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.formTabContentSection input:read-only
{
    border: 1.5px solid var(--color-gray);
    background-color: transparent;
    font-family: var(--font-secondary);
}

.formTabContentSection .formContentSubtext
{
    font-family: var(--font-secondary);
    font-size: var(--size-step);
    font-weight: 400;
    color: var(--color-gray);
}

.formTabContentSection a
{
    color: var(--color-accent);
}